@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

@layer components {
  .input-field:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(249, 115, 22, 0.5);
    /* Orange focus ring */
  }
}